.loader-container{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(211,211,211, 0.34);
    margin: 0;
    text-align: center;
}

.loader-container .icon{
    font-size: 50px;
    top: 40%;
}