.card-container{
    max-width: 450px;
    overflow: hidden;
    padding: 10px;
}
.width30{
    width: 30%;
}
.marRgt5{
    margin-right: 5%;
}
.button-container{
    margin-top: 20px;
    margin-bottom: 15px;
}
.button-container .btn{
    width: 150px;
}

